		<footer>
		</footer>

		<meta name="gulp-assets-js-start">
		<script src="application/assets/js/vendors.min.js"></script>
        <script src="application/assets/js/app.min.js"></script>
		<meta name="gulp-assets-js-end">
	</body>
</html>
