<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title ng-bind="page.title"></title>

        <meta name="gulp-angular-baseurl-start">
        <base href="/angularjs-base/">
        <meta name="gulp-angular-baseurl-end">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="application/assets/img/favicons/favicon16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="application/assets/img/favicons/favicon32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="application/assets/img/favicons/favicon96.png">

        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="{{ page.author }}">
        
        <!-- Facebook Metatags -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:site_name" content="{{ page.site_name }}">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="{{ page.image }}">
        <meta property="og:image:type" content="{{ page.image_type }} ">
        <meta property="og:image:width" content="{{ page.image_width }}">
        <meta property="og:image:height" content="{{ page.image_height }}">

        <!--GooglePlus Metatags -->
        <meta itemprop="name" content="{{ page.title }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="image" content="{{ page.image }}">
    </head>
    <body>
        <meta name="gulp-assets-css-start">
        <link href="application/assets/css/vendors.min.css" rel="stylesheet">
        <link href="application/assets/css/app.min.css" rel="stylesheet">
        <meta name="gulp-assets-css-end">

        <header></header>